@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  all: unset;
  cursor: pointer;
}

button:focus,
button:active {
  outline: 1px solid #f9a109;
}

button:focus:active {
  outline: 2px solid black;
}
